.wrapper {
  position: relative;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(40, 1fr); /* you might want to add more columns and rows for greater precision */
  grid-template-rows: repeat(50, 1fr);
  width: 100%;
  height: 100%;
  
}


.grid-cell1 {
  background-image: url('grid-on-illustration-images/visual-diary.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row:10/25 ;
  grid-column: 2/24;
  border-radius: 20px;
}
.grid-cell2 {
  background-image: url('grid-on-illustration-images/planning-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row:12/25 ;
  grid-column: 25/40;
   border-radius: 20px;

}

.grid-cell3 {
  background-image: url('grid-on-illustration-images/planning-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row:26/34 ;
  grid-column: 25/40;
   border-radius: 20px;
}



