body {
    margin: auto;
    background-color: rgb(232, 239, 250);
}



header {
    display: flex;
     background-color: hsla(248, 60%, 70%, .4);
     padding: 20px;
     border-radius: 10px;
}

#logo {
    display: inline;
    padding-left: 20px;
    
}
#logo img {
    height: 100px;
}


.links {
   
    padding: 20px;
    width: 100%;
    justify-content: space-around;
}

.links ul {
    display: flex;
    justify-content: space-around;
    
}

.links li {
    display: inline-block;
}
.links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
    font-family: "Inconsolata", monospace;
   padding-top: 40px;
}


.text {
    text-align: center;
    width: 600px;
    border: solid black 3px;
    padding: 20px;
    margin: 10px auto;
}

.container-space-around-wrap {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border: solid black 3px;

}

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: white;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
 border-radius: 20px;
    
}

.container-center-no-wrap {

    display: flex;
    width: 80%;
    margin: 90px auto;
    justify-content: center;
    border: solid black 3px;

}
